{% extends "base.html" %}

{% block title %}
Teacher Dashboard
{% endblock %}

{% block content %}

<h2>Teacher Dashboard</h2>

<div class="card shadow-custom mt-4 g-3">

    <div class="card-body">

        <a href="{{ url_for('timetable.view_timetable') }}"
           class="btn btn-primary">

            View Timetable

        </a>

        <a href="{{ url_for('events.view_events') }}"
           class="btn btn-primary">

            View Events

        </a>

        <a href="{{ url_for('attendance.mark_attendance') }}"
           class="btn btn-primary">

            Mark Attendance

        </a>

    </div>

</div>

{% endblock %}