{% extends "base.html" %}

{% block title %}
Mark Attendance
{% endblock %}

{% block content %}

<h2 class="mb-4">Mark Attendance</h2>

<div class="card shadow-custom">

    <div class="card-header bg-primary text-white">
        Class {{ class_name }}
    </div>

    <div class="card-body">

        <form method="GET" class="mb-4">

            <label class="form-label">Attendance Date</label>

            <input
                type="date"
                name="attendance_date"
                class="form-control"
                value="{{ selected_date }}"
                onchange="this.form.submit()">

        </form>


        <form method="POST">

            <input
                type="hidden"
                name="attendance_date"
                value="{{ selected_date }}">


            <!-- <div class="mb-4">

                <label class="form-label">Attendance Date</label>
                <input
                    type="date"
                    name="attendance_date"
                    class="form-control"
                    required>
            </div> -->

            <table class="table table-bordered">

                <thead class="table-light">
                    
                    <tr>
                        <th>Student Name</th>
                        <th width="250">Attendance</th>
                    </tr>
                </thead>

                <tbody>
                    {% for student in students %}
                    <tr>

                        <td>{{ student.name }}</td>

                        <td>

                            <div class="form-check form-check-inline">

                                <input
                                    class="form-check-input"
                                    type="radio"
                                    name="status_{{ student.id }}"
                                    value="present"

                                    {% if attendance_map.get(student.id) == "present" %}
                                    checked
                                    {% endif %}

                                    required>

                                <label class="form-check-label">
                                    Present
                                </label>
                            </div>
                            <div class="form-check form-check-inline">

                                <input
                                    class="form-check-input"
                                    type="radio"
                                    name="status_{{ student.id }}"
                                    value="absent"

                                    {% if attendance_map.get(student.id) == "absent" %}
                                    checked
                                    {% endif %}>

                                <label class="form-check-label">
                                    Absent
                                </label>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button class="btn btn-success">
                Save Attendance
            </button>
        </form>
    </div>
</div>

{% endblock %}