{% extends "base.html" %}

{% block title %}
Parent Dashboard
{% endblock %}

{% block content %}

<h2>Parent Dashboard</h2>

<div class="card shadow-custom mt-4">

    <div class="card-body">

        <a href="{{ url_for('timetable.view_timetable') }}"
           class="btn btn-success">

            View Timetable

        </a>

        <a href="{{ url_for('events.view_events') }}"
           class="btn btn-primary">

            View Events

        </a>

        <a href="{{ url_for('fees.parent_fee_dashboard') }}"
            class="btn btn-success">
            View Fee Details
        </a>

    </div>

</div>

{% endblock %}