{% extends "base.html" %}

{% block title %}
Create Timetable
{% endblock %}

{% block content %}

<div class="card shadow-custom">

    <div class="card-header bg-primary text-white">
        <h4>Create Timetable</h4>
    </div>

    <div class="card-body">

        <form method="POST">

            <div class="row mb-3">

                <!-- <div class="col-md-6">

                    <label>Class</label>

                    <input
                    type="text"
                    name="class_name"
                    class="form-control"
                    placeholder="Example: 10A"
                    required>

                </div> -->
                <div class="col-md-6">

                    <select
                        name="class_name"
                        class="form-select"
                        required>

                        <option value="">All Classes</option>

                        {% for cls in classes %}

                        <option
                            value="{{ cls.class_name }}"
                            {% if selected_class == cls.class_name %}selected{% endif %}>

                            {{ cls.class_name }}

                        </option>

                        {% endfor %}

                    </select>

                </div>

                <div class="col-md-6">

                    <select
                    name="day"
                    class="form-select"
                    required>

                        <option value="">Select Day</option>

                        <option>Monday</option>
                        <option>Tuesday</option>
                        <option>Wednesday</option>
                        <option>Thursday</option>
                        <option>Friday</option>

                    </select>

                </div>

            </div>

            {% for i in range(1,7) %}

            <div class="mb-3">

                <label>Period {{ i }}</label>

                <input
                type="text"
                name="period{{ i }}"
                class="form-control"
                placeholder="Subject"
                required>

            </div>

            {% endfor %}

            <button class="btn btn-primary">
                Save Timetable
            </button>

        </form>

    </div>

</div>

{% endblock %}