{% extends "base.html" %}

{% block title %}
Post New Event
{% endblock %}

{% block content %}

<div class="card shadow-custom">
    <div class="class-header bg-primary text-white">
        <h4>Post New Event</h4>
    </div>
    <div class="card-body">
        <form method="POST">
            <div class="mb-3">
                <label>Event Title</label>
                <input
                    type="text"
                    name="title"
                    class="form-control"
                    required>
            </div>
            <div class="mb-3">
                <label>Description</label>
                <textarea
                    name="description"
                    class="form-control"
                    rows="4"
                    required></textarea>
            </div>
            <div class="mb-3">
                <label>Event Date</label>
                <input
                    type="date"
                    name="event_date"
                    class="form-control"
                    required>
            </div>

            <div class="mb-3">

                <label class="form-label">Target Class</label>

                <select
                    name="target_class"
                    class="form-select">

                    <option value="">Entire School</option>

                    {% for cls in classes %}

                    <option value="{{ cls.class_name }}">
                        {{ cls.class_name }}
                    </option>

                    {% endfor %}

                </select>

            </div>

            <button class="btn btn-primary">
                Post Event
            </button>

        </form>
    </div>
</div>
{% endblock %}