{% extends "base.html" %}

{% block title %}
View Attendance
{% endblock %}

{% block content %}

<h2 class="mb-4">Attendance Records</h2>

<form method="GET" class="row g-3 mb-4">

    <div class="col-md-4">
        <input
            type="text"
            name="search"
            class="form-control"
            onchange="this.form.submit()"
            placeholder="Search Student..."
            value="{{ search }}">
    </div>

    <div class="col-md-3">

        <select
            name="class_name"
            class="form-select"
            onchange="this.form.submit()">

            <option value="">All Classes</option>

            {% for cls in classes %}

            <option
                value="{{ cls.class_name }}"
                {% if selected_class == cls.class_name %}selected{% endif %}>

                {{ cls.class_name }}

            </option>

            {% endfor %}

        </select>

    </div>

    <div class="col-md-3">

        <input
            type="date"
            name="date"
            class="form-control"
            onchange="this.form.submit()"
            value="{{ selected_date }}">

    </div>

    <div class="col-md-2">

        <button class="btn btn-primary w-100">
            Search
        </button>

    </div>

    <div class="col-md-2">

        <a
            href="{{ url_for('attendance.view_attendance') }}"
            class="btn btn-secondary w-100">

            Reset

        </a>

    </div>

</form>

<div class="card shadow-custom">

    <div class="card-body">

        {% if attendance %}

        <table class="table table-hover">

            <thead class="table-dark">

                <tr>

                    <th>Student</th>
                    <th>Class</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Marked By</th>

                </tr>

            </thead>

            <tbody>

                {% for row in attendance %}

                <tr>

                    <td>{{ row.student_name }}</td>

                    <td>{{ row.class_name }}</td>

                    <td>{{ row.attendance_date }}</td>

                    <td>

                        {% if row.status == "present" %}

                            <span class="badge bg-success">
                                Present
                            </span>

                        {% else %}

                            <span class="badge bg-danger">
                                Absent
                            </span>

                        {% endif %}

                    </td>

                    <td>{{ row.teacher_name }}</td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

        <div class="d-flex">

            <div>

                <a href="{{ url_for('report.export_attendance_csv',
                                    search=seacrh,
                                    class_name=selected_class,
                                    date=selected_date) }}"
                class="btn btn-outline-success">

                    Export CSV

                </a>

                <a href="{{ url_for('report.export_attendance_pdf',
                                    search=seacrh,
                                    class_name=selected_class,
                                    date=selected_date) }}"
                class="btn btn-outline-success">

                    Export PDF

                </a>

            </div>

        </div>

        {% else %}

        <div class="alert alert-info">

            No attendance records found.

        </div>

        {% endif %}

    </div>

</div>

{% endblock %}